@page "/"

<div class="m-4">
    <h1>Sistema de controle de clientes</h1>
    <h4>Bem-vindo ao sistema de controle de clientes!</h4>
    <p>Aula de C#.NET WebDeveloper - COTI Informática.</p>
</div>

@code {

}
